In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import glob
import os


from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, auc, classification_report

from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
from sklearn.ensemble import IsolationForest
from sklearn.covariance import EllipticEnvelope

In [41]:
#path = '/media/upm/New Volume/project/0/processed'

In [42]:
# join all csv files avilable in the base path 
'''
csvs = glob.glob(os.path.join(path, '*.csv'))

df = pd.concat((pd.read_csv(f) for f in csvs)) # and concatenate them to one data frame using pandas and change the data types into numeric types
'''

"\ncsvs = glob.glob(os.path.join(path, '*.csv'))\n\ndf = pd.concat((pd.read_csv(f) for f in csvs)) # and concatenate them to one data frame using pandas and change the data types into numeric types\n"

In [44]:
df = pd.read_csv('final1.csv')

In [75]:
df.head()

,protocol,flow_duration,tot_fwd_pkts,tot_bwd_pkts,totlen_fwd_pkts,totlen_bwd_pkts,fwd_pkt_len_mean,fwd_pkt_len_std,bwd_pkt_len_mean,flow_byts_s,...,ack_flag_cnt,urg_flag_cnt,down_up_ratio,init_fwd_win_byts,init_bwd_win_byts,fwd_seg_size_min,active_mean,idle_mean,label_cat,B_cat
2,6,279824.0,11,15,1086,10527,98.72727,129.39250,701.8000,41501.08640,...,0,0,1,8192.0,1047.000000,20,0.0,0.0,0,1
3,6,132.0,2,0,0,0,0.00000,0.00000,0.0000,0.00000,...,1,0,0,256.0,17682.268468,20,0.0,0.0,0,1
4,6,274016.0,9,13,1285,6141,142.77777,183.88773,472.3846,27100.60726,...,0,0,1,8192.0,1047.000000,20,0.0,0.0,0,1
5,6,250.0,2,0,0,0,0.00000,0.00000,0.0000,0.00000,...,1,0,0,251.0,17682.268468,20,0.0,0.0,0,1
6,6,5964033.0,3,1,0,0,0.00000,0.00000,0.0000,0.00000,...,0,0,0,8192.0,29200.000000,20,0.0,0.0,0,1

In [76]:
df = df.iloc[:10000,:]

In [79]:
df['B_cat'] = np.where(df['label_cat'],  1 , -1)

In [80]:
df['B_cat'].value_counts()

 1    8522
-1    1478
Name: B_cat, dtype: int64

In [81]:
#df['label_cat'] = (df.label_cat != 0).astype('int')

In [82]:
B = df.loc[df["B_cat"]  == 1 ]

In [83]:
B1 = B.iloc[:10000,:]

In [84]:
mal = df.loc[df["B_cat"]  == -1 ]

In [85]:
mal1 = mal.iloc[:10000,:]

## split and train the algo on the benign traffic only

In [86]:
X = B1.drop(['label_cat' , 'B_cat'], axis = 1)

In [87]:
y = B1['B_cat']

In [88]:
X.shape

(8522, 31)

In [89]:
X_train, X_test, y_train, y_test = train_test_split(
    X,y ,test_size=0.2 , random_state = 100 )

In [90]:
y_test.head()

4845    1
4775    1
1483    1
8963    1
9250    1
Name: B_cat, dtype: int32

## lets create test set of both types

In [91]:
mal1.head()

,protocol,flow_duration,tot_fwd_pkts,tot_bwd_pkts,totlen_fwd_pkts,totlen_bwd_pkts,fwd_pkt_len_mean,fwd_pkt_len_std,bwd_pkt_len_mean,flow_byts_s,...,ack_flag_cnt,urg_flag_cnt,down_up_ratio,init_fwd_win_byts,init_bwd_win_byts,fwd_seg_size_min,active_mean,idle_mean,label_cat,B_cat
2,6,279824.0,11,15,1086,10527,98.72727,129.39250,701.8000,41501.08640,...,0,0,1,8192.0,1047.000000,20,0.0,0.0,0,-1
3,6,132.0,2,0,0,0,0.00000,0.00000,0.0000,0.00000,...,1,0,0,256.0,17682.268468,20,0.0,0.0,0,-1
4,6,274016.0,9,13,1285,6141,142.77777,183.88773,472.3846,27100.60726,...,0,0,1,8192.0,1047.000000,20,0.0,0.0,0,-1
5,6,250.0,2,0,0,0,0.00000,0.00000,0.0000,0.00000,...,1,0,0,251.0,17682.268468,20,0.0,0.0,0,-1
6,6,5964033.0,3,1,0,0,0.00000,0.00000,0.0000,0.00000,...,0,0,0,8192.0,29200.000000,20,0.0,0.0,0,-1

In [92]:
y_test.head()

4845    1
4775    1
1483    1
8963    1
9250    1
Name: B_cat, dtype: int32

In [93]:
mal11 = mal1['B_cat']

In [94]:
mal11.head()

2   -1
3   -1
4   -1
5   -1
6   -1
Name: B_cat, dtype: int32

In [95]:
new_x_test = pd.concat([X_test, mal1])

In [96]:
new_x_test = new_x_test.drop(columns = ['label_cat', 'B_cat'] )

In [97]:
new_y_test = pd.concat( [y_test, mal11] )

In [98]:
new_x_test.shape

(3183, 31)

In [99]:
new_y_test.value_counts()

 1    1705
-1    1478
Name: B_cat, dtype: int64

# OneClassSVM

In [113]:
# define outlier detection model
model1 = OneClassSVM(gamma='scale' , kernel = 'rbf')

# fit on majority class
model1.fit(X_train , y_train)

OneClassSVM()

In [108]:
X_train.shape

(6817, 31)

In [109]:
new_x_test.shape

(3183, 31)

In [110]:
# detect outliers in the test set
yhat = model1.predict(new_x_test)

In [111]:
print("Accuracy :", metrics.accuracy_score(new_y_test , yhat))

Accuracy : 0.7188187244737669

In [112]:
print(classification_report(new_y_test , yhat))

              precision    recall  f1-score   support

          -1       0.62      0.99      0.77      1478
           1       0.98      0.49      0.65      1705

    accuracy                           0.72      3183
   macro avg       0.80      0.74      0.71      3183
weighted avg       0.81      0.72      0.70      3183

# Isolation Forest

In [118]:
clf =IsolationForest(n_estimators=100, max_samples='auto', contamination=float(.12), \
                        max_features=1.0, bootstrap=False, n_jobs=-1, random_state=42, verbose=0)

clf.fit(X_train , y_train)

E:\ProgramDATA\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.12, n_jobs=-1, random_state=42)

In [119]:
pred = clf.predict(new_x_test)

In [120]:
print("Accuracy :", metrics.accuracy_score(new_y_test , yhat))

Accuracy : 0.9384228715048696

In [121]:
print(classification_report(new_y_test , pred))

              precision    recall  f1-score   support

          -1       0.88      1.00      0.94      1478
           1       1.00      0.89      0.94      1705

    accuracy                           0.94      3183
   macro avg       0.94      0.94      0.94      3183
weighted avg       0.95      0.94      0.94      3183

# Local Outlier Factor

In [122]:
LOF = LocalOutlierFactor(novelty = True )

In [123]:
LOF.fit(X_train , y_train)

LocalOutlierFactor(novelty=True)

In [124]:
y_pred = LOF.predict(new_x_test)

E:\ProgramDATA\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LocalOutlierFactor was fitted with feature names
  warnings.warn(

In [125]:
print("Accuracy :", metrics.accuracy_score(new_y_test , y_pred))

Accuracy : 0.9820923656927427

In [126]:
print(classification_report(new_y_test , y_pred))

              precision    recall  f1-score   support

          -1       0.96      1.00      0.98      1478
           1       1.00      0.97      0.98      1705

    accuracy                           0.98      3183
   macro avg       0.98      0.98      0.98      3183
weighted avg       0.98      0.98      0.98      3183